Repository towfiqi/serpbear: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
   "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
   "*.{css,scss}": ["stylelint --fix", "prettier --write"],
   "*.{json,md}": ["prettier --write"]
}

- Added crazyserp.ts
  scrapers/index.ts
  scrapers/services/crazyserp.ts
Due: eslint --fix, prettier --write

- Make the entrypoint executable.
  Dockerfile
Due: none

- Updated with the correct API url and country specific google domains.
  scrapers/services/crazyserp.ts
Due: eslint --fix, prettier --write

fix: resolves Google adwords connection issue.
  utils/adwords.ts
Due: eslint --fix, prettier --write

chore: fixe formatting
  scrapers/services/crazyserp.ts
Due: eslint --fix, prettier --write

fix: resolves various typos
  __mocks__/data.ts
  components/common/Chart.tsx
  components/common/ChartSlim.tsx
  components/common/TopBar.tsx
  components/domains/DomainHeader.tsx
  components/ideas/IdeaDetails.tsx
  components/ideas/KeywordIdea.tsx
  components/ideas/KeywordIdeasUpdater.tsx
  components/keywords/Keyword.tsx
  components/keywords/KeywordDetails.tsx
  components/settings/ScraperSettings.tsx
  components/settings/SearchConsoleSettings.tsx
  pages/api/adwords.ts
  pages/api/clearfailed.ts
  pages/api/dbmigrate.ts
  pages/api/domains.ts
  pages/api/keyword.ts
  pages/api/refresh.ts
  pages/api/settings.ts
  pages/domain/[slug]/index.tsx
  pages/domain/console/[slug]/index.tsx
  pages/domain/ideas/[slug]/index.tsx
  pages/domain/insight/[slug]/index.tsx
  pages/domains/index.tsx
  pages/login/index.tsx
  pages/research/index.tsx
  types.d.ts
  utils/adwords.ts
  utils/client/exportcsv.ts
  utils/client/generateChartData.ts
  utils/generateEmail.ts
  utils/parseKeywords.ts
  utils/refresh.ts
  utils/scraper.ts
Due: eslint --fix, prettier --write

chore: fixes spelling and formatting
  utils/adwords.ts
  utils/refresh.ts
  utils/scraper.ts
Due: eslint --fix, prettier --write

fix: resolves scraping google search results data in som cases
  utils/scraper.ts
Due: eslint --fix, prettier --write

fix: resolves failure to detect domain with www in search results
  utils/scraper.ts
Due: eslint --fix, prettier --write

fix: resolves broken city filter for serper.dev
  scrapers/services/serper.ts
Due: eslint --fix, prettier --write

fix: resolves missing failed keyword scrape queue clearing mechanism.
  pages/api/domains.ts
  pages/api/keywords.ts
Due: eslint --fix, prettier --write

fix: resolves missing settings.json error appears in some cases.
  cron.js
Due: eslint --fix, prettier --write

fix: resolves incorrect country flag in email in some cases
  utils/generateEmail.ts
Due: eslint --fix, prettier --write

fix: resolves "client-side exception has occurred" error.
  components/keywords/Keyword.tsx
  components/keywords/KeywordFilter.tsx
Due: eslint --fix, prettier --write

fix: resolve Google Search Console Forbidden errors and silent cron failure
  pages/api/searchconsole.ts
  utils/searchConsole.ts
Due: eslint --fix, prettier --write

feat: adds dynamic scraping to tackle num=100 block.
  components/domains/DomainSettings.tsx
  components/keywords/KeywordDetails.tsx
  components/settings/ScraperSettings.tsx
  database/migrations/1740614400000-add-domain-scrape-strategy-fields.js
  database/models/domain.ts
  pages/api/cron.ts
  pages/api/domains.ts
  pages/api/refresh.ts
  pages/api/settings.ts
  scrapers/services/crazyserp.ts
  scrapers/services/hasdata.ts
  scrapers/services/proxy.ts
  scrapers/services/scrapingant.ts
  scrapers/services/scrapingrobot.ts
  scrapers/services/searchapi.ts
  scrapers/services/serpapi.ts
  scrapers/services/serper.ts
  scrapers/services/serply.ts
  scrapers/services/spaceserp.ts
  scrapers/services/valueserp.ts
  types.d.ts
  utils/refresh.ts
  utils/scraper.ts
Due: eslint --fix, prettier --write

fix: resolves minor UI issues.
  components/common/InputField.tsx
  components/common/SelectField.tsx
  components/common/ToggleField.tsx
  styles/globals.css
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolves google ads Not authorized error when integrating
  pages/api/adwords.ts
Due: eslint --fix, prettier --write

fix: resolve broken Google Ads integration due to deprecated API
  utils/adwords.ts
Due: eslint --fix, prettier --write

chore: updates gitignore
  .gitignore
Due: none

chore: updates dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: removes unnecessary stylelint
  .stylelintrc.json
  package-lock.json
  package.json
  stylelint.config.cjs
Due: prettier --write

fix: resolves hidden tooltips for inner tabs
  components/common/Icon.tsx
Due: eslint --fix, prettier --write

chore(release): 3.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: resolves broken google ads oauth of instances behind reverse proxy
  next.config.js
  pages/api/adwords.ts
  utils/generateEmail.ts
Due: eslint --fix, prettier --write

fix: resolves cron issue with certain port mapping config
  cron.js
Due: eslint --fix, prettier --write

fix: prevent corrupt failed queue file to reset the app settings
  cron.js
  pages/api/settings.ts
Due: eslint --fix, prettier --write

fix: resolves issue that prevents refreshing all keywords when one fails
  utils/refresh.ts
Due: eslint --fix, prettier --write

fix: enhance error handling and response structure in scraper functions
  utils/scraper.ts
Due: eslint --fix, prettier --write

fix: minor ui issue
  components/common/ToggleField.tsx
Due: eslint --fix, prettier --write

feat: add subdomain matching functionality
  .github/workflows/docker-publish.yml
  components/domains/DomainSettings.tsx
  database/migrations/1742428800000-add-domain-subdomain-matching-field.js
  database/models/domain.ts
  pages/api/domains.ts
  types.d.ts
  utils/scraper.ts
Due: eslint --fix, prettier --write

Add Apify Google Search Scraper to SERP services table
  README.md
Due: prettier --write

build: makes docker image lighter
  Dockerfile
Due: none

build: remove unnecessary files from docker image
  .dockerignore
Due: none

docs: adds docker compose for easier deployment
  docker-compose.yml
Due: none

chore(release): 3.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
